mixin head(page_title, page_url, page_author, page_description)
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content=page_description || 'Code centric blogging platform. From developers, for developers.')
        meta(name='author', content=page_author || 'Michael Wellner and the contributors of pushed.to')
        title= page_title

        if page_url
          link(rel='canonical', href=page_url)

        // Bootstrap core CSS
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/fontawsome/css/all.min.css')

        // Cookieconsent
        link(rel="stylesheet" href="/cookieconsent/style.min.css")
        script(src="/cookieconsent/cookieconsent.min.js")

        script
          | window.addEventListener("load", function(){
          | window.cookieconsent.initialise({
          |   "palette": {
          |     "popup": {
          |       "background": "#333"
          |     },
          |     "button": {
          |       "background": "#007bff"
          |     }
          |   }
          | })});

        // Favicon configuration
        link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='manifest', href='/site.webmanifest')
        link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
        meta(name='msapplication-TileColor', content='#da532c')
        meta(name='theme-color', content='#ffffff')

        // App CSS
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/github.css')

mixin navbar(page_brand_url, page_subtitle)
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top
      .container
        a.navbar-brand.pt-brand(href=page_brand_url)
          | pushed.to
          span= page_subtitle
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarCollapse.collapse.navbar-collapse
          .mr-auto
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/#about') About
            li.nav-item
              a.nav-link(href='/#get-started') Get Started

mixin about(blog)
    .pt-about
        img.circle.pt-profile-image(src=blog.owner.avatar, alt=blog.owner.name)
        .pt-details
            p.pt-author
                | by 
                b= blog.owner.name

            if blog.owner.location
                p.pt-origin= blog.owner.location
            
            if blog.owner.url
                p.pt-web
                    a(href=blog.owner.url, title=blog.owner.name, target='_blank')= blog.owner.url
            
            ul.pt-social
                if blog.owner.twitter
                  li
                    a(href='https://twitter.com/' + blog.owner.twitter, title='Follow me on Twitter', target='_blank')
                      i.fab.fa-twitter
                  li

                if blog.owner.linkedin
                  li
                    a(href=blog.owner.linkedin, title='Connect on LinkedIn', target='_blank')
                      i.fab.fa-linkedin

                if blog.owner.github
                  li 
                    a(href=blog.owner.github, title='Visit me on Github', target='_blank')
                      i.fab.fa-github

        .pt-static-links

mixin footer(blogAnalyticsId)
    footer.text-muted.pt-footer
      .container
        .row
          .col-sm-3
            a.navbar-brand.pt-brand(href='/') pushed.to
            p Code centric blogging. From developers, for developers.
          .col-sm-3
            span.navbar-brand.pt-brand Links
            ul
              li
                a(href='https://github.com/pushedto/pushed.to') GitHub
              li
                a(href='https://github.com/pushedto/pushed.to/issues/new') Open an issue
              li
                a(href='/#get-started') Get Started
              li
                a(href='/#about') About
          .col-sm-6
            span.navbar-brand.pt-brand
            p
              | Crafted since 2016. Designed and coded with love and enthusiasm by 
              a(href='https://github.com/cokeSchlumpf/pushed.to/graphs/contributors', target='_blank') pushed.to contributors
              | . Content of blogs is owned by authors.

    script(src='/bootstrap/js/jquery-3.3.1.slim.min.js', crossorigin='anonymous')
    script(src='/bootstrap/js/bootstrap.bundle.min.js', crossorigin='anonymous')

    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    script
      | ga('create', 'UA-2075101-7', 'auto');
      | ga('send', 'pageview');

    if blogAnalyticsId && blogAnalyticsId != 'UA-2075101-7'
      script
        | ga('create', '#{blogAnalyticsId}', 'auto', 'blog');
        | ga('blog.send', 'pageview');