extends layout

include mixins

block page_parameters
  - var page_brand_url= blog.url
  - var page_title = post.title + ' | ' + blog.title
  - var page_url = 'https://pushed.to' + post.url
  - var page_subtitle = blog.url
  - var page_analytics_id = blog.analyticsId

block page_content
  .grid(name="top")
    .row
      .col-sm-8
        article.pt-article
          h2= post.title

          p.pt-meta Posted on #{post.publishedDate}           

          if post.topics.length > 0
            p
              each topic in post.topics
                a.badge.badge-secondary(href=blog.url + '/topics/' + topic)= '#' + topic
                | 

          div.pt-article-content
            != post.contentSnippet
            != post.content

          div.pt-article-disqus#disqus_thread
            script
              | var disqus_config = function () {
              |   this.page.url = "http://pushed.to#{post.link}";
              |   this.page.identifier = "#{post.key}";
              | };
              | (function() { // DON'T EDIT BELOW THIS LINE
              |   var d = document, s = d.createElement('script');
              |   s.src = 'https://pushed-to.disqus.com/embed.js';
              |   s.setAttribute('data-timestamp', +new Date());
              |   (d.head || d.body).appendChild(s);
              | })();
            noscript Please enable JavaScript to view the [a(href="https://disqus.com/?ref_noscript" rel="nofollow") comments powered by Disqus].


        footer.grid.pt-paging
          .row
            .col.pt-prev
              a(href=blog.url) &#8592; Read more from #{blog.title}

            .col.pt-pages
              
            .col.pt-next
              a(href="#top") &#8593; Go to top
      
      .col-sm-2.order-sm-first
        + about(blog)

      .col-sm-2