extends layout

include mixins

block page_parameters
  - var page_brand_url= blog.url
  - var page_title = blog.title
  - var page_url = 'https://pushed.to' + blog.url
  - var page_subtitle = blog.url

block page_content
  .pt-blog-header.grid
    h1= blog.title
    p
      a.badge.badge-secondary(href='#') #topic-1
      | 
      a.badge.badge-secondary(href='#') #topic-2
    p.pt-lead
      | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
      | ut labore et dolore magna aliquyam erat, sed diam voluptua.
  .grid
    .row
      .col-sm-8
        each post in posts.posts
          article.pt-article
            h2= post.title
            p.pt-meta Posted on #{post.publishedDate}
            div.pt-article-content
              != post.contentSnippet
            a.pt-read(href=post.link.substr(0, post.link.length - 3)) Go on reading &gt;
        else
          article.pt-article
            h2 ¯\_(ツ)_/¯ - Sorry, no available posts
            p.pt-meta 
            if posts.page == 0
              p= blog.user + 'has not written any posts yet'
            else
              p 
                | But, there are some posts: 
                a(href=blog.url) Goto first page of #{blog.title} &gt;

        footer.grid.pt-paging
          .row
            .col.pt-prev
              if posts.page > 1
                a(href=posts.prevUrl) &#8592; Back
            .col.pt-pages
              = posts.page + " of " + posts.pages
            .col.pt-next
              if posts.page < posts.pages
                a(href=posts.nextUrl) Next &#8594;
      
      .col-sm-2.order-sm-first
        + about(blog)

      .col-sm-2